@media screen and (max-width: 1200px) {
    html{
        font-size: 55%;
    }
}

@media screen and (max-width: 992px) {
    header {
        padding: 2rem 4%;
    }

    section{
        padding: 10rem 4% 2rem;
    }

    .resume-list{
        height: 39rem;
    }

    .resume-details.skills .resume-item i{
        font-size: 4.2rem;
        transition: 0.5s;
    }
}

@media screen and (max-width: 830px){
    .contact-box .field-box{
        grid-template-columns: 1fr;
    }

    .about-container{
        flex-direction: column-reverse;
        gap: 0;
        justify-content: center;
    }

    .about-me-details{
        margin-top: 0;
    }

    .about-me-svg {
        text-align: center;
    }

    .about-me-svg svg{
        height: 50rem;
        width: 60rem;  
        margin-left: -2rem;

    }

    .about-me-details{
        text-align: center;
        
    }
}
@media screen and (max-width: 768px){
    #menu-icon {
        display: block;
    }

    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 0;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0,0,0,.2);
        box-shadow: 0 .5rem 1rem solid rgba(0,0,0,.2);
        text-align: center;
        display: none;
    }

    nav a{
        display: block;
        margin: 4rem 0;
    }

    .home{
        flex-direction: column-reverse;
        justify-content: center;
        gap: 2rem;
    }

    .home-img .img-box{
        width: 35rem;
        height: 35rem;
    }


    .resume-container,
    .portfolio-container,
    .contact-container{
        grid-template-columns: 1fr;
    }

    .resume-container{
        gap: 3rem;
    }

    .portfolio-container .portfolio-box:first-child{
        order: 1;

    }

    .contact-box .field-box{
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 600px) {
    .home-img .img-box{
        width: 30rem;
        height: 30rem;
    }
     
    .about-me-svg svg{
        height: 30rem;
        width: 40rem;  
        margin-left: -4rem;
    }

    .contact-box .field-box{
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 480px) {
     html{
        font-size: 50%;
     }
}

@media screen and (max-width: 450px) {
    .home-detail,
    .resume-box h2,
    .resume-box .heading,
    .resume-box .desc,
    .resume-details.about .resume-item{
          text-align: justify;
    }

    .home-detail .btn-sci{
        flex-direction: column-reverse;
    }
    .home-detail .btn-sci .sci{
        margin-left: 0;
        margin-bottom: 2rem;
    }
    .resume-list{
        height: auto;
    }
    
    
}